<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727708165818-82l7bk6mk91lo7698oj50g4g820r09e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727708165818-82l7bk6mk91lo7698oj50g4g820r09e0</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZUhQRGbenTci6NOcslqF4FmLTDFbwTU</string>
	<key>GCM_SENDER_ID</key>
	<string>727708165818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.classroom</string>
	<key>PROJECT_ID</key>
	<string>puconline-5db8d</string>
	<key>STORAGE_BUCKET</key>
	<string>puconline-5db8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727708165818:ios:6a15714e706e1302</string>
	<key>DATABASE_URL</key>
	<string>https://puconline-5db8d.firebaseio.com</string>
</dict>
</plist>